.hello{
    color:#065794;
    font-weight: 800;
    align-items: center;
    font-size: 110%;
    border: 5px ;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }
  
  
  .section_our_solution .row {
      align-items: center;
      box-shadow: #065794;
    }
    
    .our_solution_category {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
    }
    
    .our_solution_category .solution_cards_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }
    
    .solution_card {
      flex: 0 50%;
      background: #fff;
      box-shadow: 0 2px 4px 0 rgba(33, 49, 151, 0.2),
        0 5px 15px 0 rgba(37, 44, 97, 0.15);
      border-radius: 15px;
      margin: 8px;
      padding: 10px 15px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      min-height: 265px;
      transition: 0.7s;
      text-align: left;
      
      
    }
    
    
    
    .solution_cards_box .solution_card:hover {
      background: #065794;
      color: #fff;
      transform: scale(1.1);
      z-index: 9;
    }
    
    .solution_cards_box .solution_card:hover::before {
      background: rgb(85 108 214 / 10%);
    }
    
    .solution_cards_box .solution_card:hover .solu_title h3,
    .solution_cards_box .solution_card:hover .solu_description p {
      color: #f7f3f3;
    }
    
    .solution_cards_box .solution_card:before {
      content: "";
      position: absolute;
      background: rgba(35, 50, 117, 0.05);
      width: 170px;
      height: 400px;
      z-index: -1;
      transform: rotate(42deg);
      right: -56px;
      top: -23px;
      border-radius: 35px;
    }
    
    .solution_cards_box .solution_card:hover .solu_description button {
      background: #fff !important;
      color: #065794;
    }
    
    
    
    .solution_card .solu_title div {
      color: #212121;
      font-size: 1.3rem;
      margin-top: 13px;
      margin-bottom: 13px;
    }
    
    .solution_card .solu_description p {
      font-size: 15px;
      margin-bottom: 0.1px;
      text-align: left;
    }
    
    .solution_card .solu_description button {
      border: 0;
      border-radius: 15px;
      /* background: linear-gradient( */
        /* 140deg, */
        /* #42c3ca 0%, */
        /* #42c3ca 50%, */
        /* #42c3cac7 75% */
      /* ) !important; */
      color: #fff;
      font-weight: 500;
      font-size: 1rem;
      padding: 5px 16px;
      background-color: #065794;
    }
    
    .our_solution_content div {
      text-transform: capitalize;
      margin-bottom: 1rem;
      font-size: 2.5rem;
    }
    
    
    
    .hover_color_bubble {
      position: absolute;
      background: rgb(54 81 207 / 15%);
      width: 100rem;
      height: 100rem;
      left: 0;
      right: 0;
      z-index: -1;
      top: 16rem;
      border-radius: 50%;
      transform: rotate(-36deg);
      left: -18rem;
      transition: 0.7s;
    }
    
    .solution_cards_box .solution_card:hover .hover_color_bubble {
      top: 0rem;
    }
    
    .solution_cards_box .solution_card .so_top_icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #fff;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .solution_cards_box .solution_card .so_top_icon img {
      width: 40px;
      height: 50px;
      object-fit: contain;
    }
    
    /*start media query*/
    @media screen and (min-width: 320px) {
      .sol_card_top_3 {
        position: relative;
        top: 0;
      }
    
      .our_solution_category {
        width: 100%;
        margin: 0 auto;
      }
    
      .our_solution_category .solution_cards_box {
        flex: auto;
      }
    }
    
    @media only screen and (min-width: 768px) {
      .our_solution_category .solution_cards_box {
        flex: 1;
      }
    }
    
    @media only screen and (min-width: 1024px) {
      .sol_card_top_3 {
        position: relative;
        top: -3rem;
      }
    
      .our_solution_category {
        width: 80%;
        margin: 0 auto;
      }
    }
  
    .hello2{
    font-weight: 500;
    
    }
  
   .hello3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 170;
    font-weight: 900;
    color:#065794;
    
   }