.container {
  height: 900%;
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
  /*background: linear-gradient(to right, #e6e3e8, #00BDC9);*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBox {
  min-width: 560px;
  height: 88%;
  width: 10%;
  background-color: #ffffff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-color: rgb(253, 253, 253);
  position:fixed; 
  left:120px; 
  top:60px;


}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.heading{
  align-items:centre;
  justify-content: center;
  text-align: center;
  color:#134982;
}
.footer button {
  outline: none;
  border: none;
  background-color: #134982;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 16px;
  width: 100%;
  transition: 100ms;
  cursor: pointer;
}
.footer p {
  font-weight: 700;
  color: #000;
}
.footer button:hover {
  background-color: #2fc7f1;
}
.footer p span a {
  font-weight: bold;
  color: #2fc7f1;
  letter-spacing: 1px;
  font-size: 1rem;
  text-decoration: underline;
  
}
.footer p span a:hover{
  color:#134982;
}
.footer .error {
  font-weight: 100;
  font-size: 0.875rem;
  color: #ff3300;
  text-align: center;
  font-family:Times, serif;
}
.footer button:disabled {
  background-color: gray !important;
}

