
   
   

    h4{
        margin: 19px 0;
    }

  
   
    section>h4{
        color: rgb(22, 64, 129);
    }
     section>p{
        font-size:14px;
    }

    
   button{
        width: 125px;
        background: rgb(22, 64, 129);
        padding:13px;
        font-weight: bold;
        font-size:15px;
        border-radius:5px;
        margin-left:20px;
        border: none;
        color: white;
        cursor: pointer;
    }
    
    p{
        text-align:center;
    }
    p>span{
        color:rgb(22, 64, 129);
    }



